body {
  background-color: rgb(107, 173, 182);
}
h1 {
  color: white;
}
p {
  color: green;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

.btn:hover {
  background-color: #0056b3;
}
